<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>practice</title>
</head>
<body>
    <h1>my prodects</h1>
    <table>
        <thead>
            <tr>

                <th>name</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody id="products-table">
        </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>-->

<!--<!DOCTYPE html>
<html>
<head>
    <title>My Products Page</title>
</head>
<body>
    <h1>My Products Page</h1>
    <table id="productsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <button id="addProductBtn">Add Product</button>
    <div id="addProductForm" style="display: none;">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName"><br><br>
        <label for="productPrice">Product Price:</label>
        <input type="number" id="productPrice"><br><br>
        <button id="submitProductBtn">Submit</button>
    </div>

    <script src="jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>-->